# --------------------------------
# Python artifacts
# --------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Environment Variables
.env

# --------------------------------
# Logs and other output
# --------------------------------
logs/
*.log

# --------------------------------
# Test coverage
# --------------------------------
.coverage
htmlcov/
coverage.xml
.pytest_cache/

# --------------------------------
# Video / Audio (project specific)
# --------------------------------
*.mp4
*.wav
*.avi

# --------------------------------
# IDE / Editor settings
# --------------------------------
.idea/
.vscode/
*.swp
*.swo

# --------------------------------
# macOS
# --------------------------------
.DS_Store

# --------------------------------
# Node
# --------------------------------
node_modules/
npm-debug.log
yarn-error.log
package-lock.json


*model
*.pth